
/*Ausschließlich Bild Formate und Übergruppen*/

.bilddiv{
    padding-top: 4%;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bild{
    max-height: 100%;
}